
.profile-picture{
    min-width: 60px;
    min-height: 62px;
max-width: 60px;
max-height: 85px;
position: relative;
right: 5px;
bottom: 14px;
border-radius: 50%;
 
 
}


img{
    margin: 2px 5px 5px 0;
}

.post-body{
    border: 2px solid rgb(247, 241, 241);

   
}
.sidemenu{
    border: 2px solid rgb(170, 128, 123);

    height: fit-content;
}
.friendlist{
    border: 2px solid rgb(15, 5, 68);
    height: 50%;

}
.name{
    position: relative;
    right: 70px;
    top: 4px;
}
#date{
    font-weight: 30px;
}
.post-img{
margin: 0;
width: 49%;
height: 150px;
 
}
.post-text{
   font-size: 18px;
   color: rgb(99, 84, 99);

    
}
a{
    text-decoration: underline;
}
a:hover{
color: rgb(10, 250, 190);
}

.post-link{
    text-decoration: none;


}
.post-link:hover{
    text-decoration: none;
}
