/* Set a background image by replacing the URL below */
body {
    background-color: #f3eff1;

  }  
.profile-pic{
    min-width: 150px;
    min-height: 180px;
    max-width: 180px;
    max-height: 180px;
    margin: 0 auto;
    border-radius: 50%;
}
#img{
    width: 120px;
    height: 32px;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height: 7vh;
    font-family: sans-serif;
    background-color: #85084d;


}
.logo{

    color: rgb(226, 226, 226);

    letter-spacing: 1px;
    margin-right: 40px;

}
.logo h5{
    font-size: 16px!important;
}

.nav-links{
    display: flex;
    width: 55%;
    justify-content: space-around;

}

.nav-links li{
    list-style: none;
}
.nav-links a{
    color: rgb(226, 226, 226);
text-decoration: none;
letter-spacing: 3px;
font-size: 14px;

}
.burger{
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    margin: 4px;
    background-color: rgb(174, 250, 246);
}


@media screen and (max-width:1024px)
{
     .nav-links{
         width: 67%;
    }
    
}


@media screen and (max-width:768px)
{

    body{

        overflow-x: hidden;

    }
    .nav-links{

        
        position: absolute;
        right: 0px;
        
        top: 7vh;
        height: 93vh;
        background-color: #85084d;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        transition: tranform 0.5s ease-in;
        z-index: 3;

    }

    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
        cursor: pointer;
    }

}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px)
    }
    to{
        opacity: 1;
        transform:translateX(0px)
    }



}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2{
    opacity : 0; 
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -5px);
}
.heading{
    color: rgb(197, 75, 142);
}

.carousel-inner img {
    width: 100%;
    height: 92vh;
  }


.your_name{
    animation-name: name;
 color: rgb(241, 102, 67);
 text-align: center;
 position: relative;
 bottom: 65vh;
 font-size: 20px;
 
 
 animation-duration: 4s;  
 animation-fill-mode: forwards;
 
}

  @keyframes name {
    from {font-size: 20px; bottom: 63vh;  }
   
    to{font-size:36px; bottom: 40vh; color: rgb(4, 131, 89)!important; }


    
  }

  .your_name span{
      color: rgb(3, 170, 247);
  }

  .carousel-item:after {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0, 0, 0, 0.6);
  }