
{% load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">

    <script src="https://use.fontawesome.com/0625171541.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/blog-home.css'%}">
</head>

<div class="container ">

    <div class="row">


        <div class="col-2 col-sm-2 col-md-3 sidemenu py-0 text-left">
            <a class="links text-left" href="{%url 'home'%}"><i class="fa fa-home mx-3"></i><span class="link-text my-1 ">Home</span>   </a>
            <a class="links text-left" href="{%url 'blog-home'%}"><i class="fa fa-pencil-square-o mx-3 fas" ></i><span class="link-text ">Blog</span>  </a>

            <a class="links text-left" href="{%url 'eventList'%}"><i class="fa fa-meetup mx-3 fas" ></i><span class="link-text ">Events</span>  </a>

            <a class="links" href="{%url 'blog-home'%}"> <i id="notify" class="fa fa-bell-o fas mx-3"></i><span class="link-text">Notifications</span></a>
            <a class="links" href=""> <i class="fa fa-envelope-o fas mx-3 "></i><span class="link-text ">Messages</span>  </a>
            <a class="links" href="{% url 'User_Profile' request.user.id %}"><i class="fas fa fa-user-o mx-3"></i><span class="link-text ">Profile</span>  </a>
            <a class="links" href="{% url 'User_Profile_settings'  %}"><i class="fa fa-cogs mx-3 fas" ></i><span class="link-text ">Settings</span>  </a>
        </div>

        
        <div class="col-10 col-sm-8 col-md-6 post-body mx-0.5 "> 

            {% block content %}

            <div class="text-center">
                <p>What is happening..</p>
                <a class="share" href="{%url 'createBlog'%}">Post Here</a>
            </div>
            
            <hr>
            {% endblock %}



            {% for post in posts %}


                <div class="row whole-post">

                    <div class="col-2 col-sm-2 col-md-2 pic">
                        {%if post.author.profile.profile_pic%}
                            <img src="{{post.author.profile.profile_pic.url}}" alt="" class="profile-picture  ">
                           
                        {%else%}
                            <img src="{% static '/images/user.png'%}" alt="" class="profile-picture  ">
            
                        {% endif %}

                    </div>


                    <div class="col-10 col-sm-10 col-md-10 content  ">
                       
                            <div class = " name p-1"><strong class= " mb-5">{{post.author.full_name}}</strong> . <span id = "date "> {{post.last_modified|date:"F d, Y"}}</span></div> 

                            
                            <a class = " post-text text-left ml-4" href="{% url 'OneBlog' post.id %}">

                                {%if post.title%}<p class=" text-info pt-2 text-center" >{{post.title}}</p>
                                {% endif%}
                                {{post.body|linebreaks}}
                            </a>
                                <div class="height">
                                    {% for image in post.files_of_posts_set.all%}
                                    
                                    {%if image.files%}
                                        <a href="{{image.files.url}}"><img class="post-img" src="{{image.files.url}}" alt=""></a>
                           
                                    {%endif%}
                        
                                    {%endfor%}
                                </div>

                    </div >
                </div>
                

            {% endfor %}


          
            {% if posts.has_previous %}
                <a class = "btn btn-outline-info btn-small" href="?page=1">First</a>
                <a class = "btn btn-outline-info btn-small" href="?page={{posts.previous_page_number}}">Previous</a>
            {% endif %}


          
            {% for num in posts.paginator.page_range %}

                {% if posts.number == num %}

                    <a class="btn btn-secondary" href="?page={{num}}">{{num}}</a>

                    {% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}
                    <a class="btn btn-outline-info" href="?page={{num}}">{{num}}</a>

                {% endif %}
            {% endfor %}
 
 
            {% if posts.has_next %}
            <a class = "btn btn-outline-info btn-small" href="?page={{posts.next_page_number}}">Next</a>
            <a class = "btn btn-outline-info btn-small" href="?page={{posts.paginator.num_pages}}">Last</a>
        {% endif %}
        







        

        </div>

        <div class=" col-sm-2 col-md-3 friendlist">
            <p>Lorem, ipsum dolor sique debitis nemo! Eveniet non dolorem quod delectus.</p>
        </div>

    </div>

</div>
</body>

</html>

