{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <link rel="stylesheet" href="{% static '/css/main.css'%}">
  </head>



  <body>
  


    <nav>


      <div class="logo">
        <h5 >DEVELOPED BY FAHEEM</h5>
      </div> 



      <ul class="nav-links ">

        <li>
          <a  href="{% url 'home' %}">Home</a>
        </li>


        <li>
          <a href="{% url 'eventList' %}">Events</a>
        </li>
 

        <li>
          <a href="{% url 'blog-home' %}">Blog</a>
        </li>

        <li>
          <a href="{% url 'User_Profile' request.user.id  %}">Profile</a>
        </li>
        
        <li>
          <a href="{% url 'blog-home' %}">Messages</a>
        </li>

                

 
        <li>
          <a class = 'text-white' href="{% url 'logoutUser' %}">Logout</a>

        </li>


      </ul>

      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>

      </div>

        <!--
        <span class="text-danger text-capitalize px-4" id="hello-msg">Hello,  </span>
        <span></span>
        -->

      </nav>



      <script src="{% static './javascript/main.js' %}"></script>
  </body>
</html>